<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta></head><body>
<p>Добрый день!</p>
<p></p>
<p>Предлагаем провести сверку расчетов между "[ПредставлениеОрганизации]" и "[ПредставлениеКонтрагента]" с [ДатаНачала] по [ДатаОкончания].<br>
Просьба прислать акт сверки расчетов исходя из ваших учетных данных[ЗапросОригиналов].</p>
<p></p>
<p>*********<br>
Для информации<br></p>
<p>Если у Вас программа "1С:Бухгалтерия", то акт сверки можно сформировать в программе и отправить нам в электронном (машиночитаемом) виде как <b>Ссылку на документ</b>.<br>По одноименной команде в меню "Отправить" в форме акта сверки или в форме списка актов будет сформирована короткая ссылка. Эту ссылку можно отправить нам письмом или в мессенджер. Мы сможем загрузить акт сверки в свою информационную базу 1С. Электронная подпись при этом не используется. Информация по ссылке общедоступна, но ссылка действует ограниченный период времени.</p>
<p></p>
<div>
<p>Кроме того, документ можно отправить <b>по электронной почте</b>. Выбранные формы акта будут приложены к письму в немашиночитаемом формате (например, xls, pdf и пр.). Мы сможем их посмотреть и распечатать, но не сможем загрузить в 1С.</p></div>
</body></html>